#root {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

body {
    margin: 0;
    background-image: url('../public/img/img_main_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}