@font-face {
    font-family: 'SamsungOne';
    font-style: normal;
    font-weight: 400;
    src: url('public/fonts/SamsungOne-400.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'SamsungOne';
    font-style: normal;
    font-weight: 700;
    src: url('public/fonts/SamsungOne-700.ttf');
    font-display: swap;
}

html, body {
    font-family: 'SamsungOne', sans-serif;
}